# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site navigation

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- assets/lectures
- assets/course_scripts
- .swp

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jemoji

# 3. Gem settings
paginate: 2 # jekyll-paginate > items per page
paginate_path: blog/page:num # jekyll-paginate > blog page
jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
twitter:
  username: zlskidmore # jekyll-seo-tag > Owners twitter username
author: Zachary Skidmore # jekyll-seo-tag > default author
social: # jekyll-seo-tag > social overrides
  name: Zachary Skidmore # jekyll-seo-tag > real name
  links:  # jekyll-seo-tag > social aliases (sameAs)
    - https://twitter.com/zlskidmore
    - https://github.com/zlskidmore

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: UTC # Timezone for blog posts and alike

# 5. Collections
collections:
  posts:
    title: Posts # Needed for Siteleaf
    output: true
    description: "My thoughts and ideas" # The post list page content
    feature_text: |
      Welcome to the blog
    feature_image: "assets/genvis-dna-bg_optimized_v1a.png"

# 6. Jekyll collections settings
defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: page # Default layout
      image: "/assets/logos/DNA.jpg" # Default image for sharing
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post # Default layout
      image: "/assets/logos/DNA.jpg" # Default image for sharing

# 7. Site settings
encoding: utf-8 # Make sure the encoding is right
title: "Griffith Lab" # Site name or title, also used in jekyll-seo-tag
logo: "/assets/logos/Site_Logo3_v2.png" # Site logo, also used in jekyll-seo-tag
logo_link: "http://www.griffithlab.org"
description: "The RNAbio.org site is meant to accompany RNA-seq workshops delivered at various times during the year at various places (New York, Toronto, Germany, Glasgow, etc) in collaboration with various bioinformatics workshop organizations (CSHL, CBW, Physalia, PR Informatics, etc.). It can also be used as a standalone online course. The goal of the resource is to provide a comprehensive introduction to RNA-seq, NGS data, bioinformatics, cloud computing, BAM/BED/VCF file format, read alignment, data QC, expression estimation, differential expression analysis, reference-free analysis, data visualization, transcript assembly, etc." # Site description and default description, also used in jekyll-seo-tag
url: "http://www.rnabio.org/" # Site url, also used in jekyll-seo-tag
baseurl: ""
repo: "https://github.com/griffithlab/rnabio.org"
email: "zskidmor@wustl.edu"
avatarurl:  "/assets/logos/DNA.jpg"# Uses avatars for favicons to get multple sites, eg Gravatar, Twitter, GitHub


# 8. Site navigation
navigation_header:
  Home: /
  Course: /course/
  Schedule: /schedule/
  Authors: /authors/
  Gallery: /gallery/
  Resources: /resources/
  Acknowledgments: /acknowledgements/
  Search: /search/

navigation_footer:
  McDonnell Genome Institute - Washington University: http://genome.wustl.edu/

contact_obi:
    twitter:    https://twitter.com/obigriffith
    github:     https://github.com/obigriffith
    link:       https://griffithlab.org/

contact_malachi:
    twitter:    https://twitter.com/malachigriffith
    github: https://github.com/malachig
    link: https://griffithlab.org/

contact_brian:
    twitter: https://twitter.com/brianjhaas
    github: https://github.com/brianjohnhaas

contact_allegra:
    link: https://sites.wustl.edu/pettilab/

contact_aaron:
    twitter: https://twitter.com/aaronquinlan
    github: https://github.com/arq5x
    link: http://quinlanlab.org/
    
contact_jason:
    github: https://github.com/jasonwalker80

contact_alex:
    twitter: https://twitter.com/handlerwagner
    github: https://github.com/ahwagner
    link: http://alexwagner.info/

contact_kelsy:
    twitter: https://twitter.com/kelsy_cotto
    github: https://github.com/kcotto

contact_zach:
    twitter: https://twitter.com/zlskidmore
    github: https://github.com/zlskidmore

contact_chris:
    twitter: https://twitter.com/chrisamiller
    github: https://github.com/chrisamiller

contact_megan:
    github: https://github.com/mrichters

social_links:
  #Twitter:
  #LinkedIn:
  #Google+:
  GitHub: https://github.com/griffithlab/rnabio.org
  #link:

sharing_links:
  #Twitter: "#1DA1F2"
  #facebook: "#3B5998"
  #Google+: "#DC4E41"
  #Reddit: "#FF4500"
