{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
	{% assign category_name = category | first %}
	<section class="section typeset">
		<h3 id="{{ category_name | slugify }}">{{ category_name }}</h3>
		<ul class="list  list--posts">
			{% for page in site.categories[category_name] reversed %}
				<li class="item  item--post">
				 	<article class="article  article--post  typeset">
					 	<h4><a href="{{ page.url | relative_url }}" title="Post - {{ page.title }}">{{ page.title }}</a></h4>
				 	</article>
			 </li>
		 {% endfor %}
		</ul>
		{% unless forloop.last %}<hr/>{% endunless %}
	</section>
{% endfor %}
